$white: white;
$gray-1: #cccccc;
$gray-2: #808080;
$gray-3: #555555;
$gray-4: #111111;

$bg_color_light: #D7E1E9;
$bg_color: #020024;
$bg_gradient: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);